# Libs: [ asmjit ]
external/

# CMake
build/

# IDE
.vscode/
.clangd
TODO

# Testing files
testing/**/*.S
testing/**/*.o
testing/**/*.out

# Test suite
testing/**/__pycache__/
testing/suite/lib/*

# dev benchmarks
benchmarks